    ﻿
    @model IEnumerable<OrderDetails>

    @{
        ViewData["title"] = "Order Details";
        int total = 0; // Store total amount
        int subtotal = 0;
   
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Order Details</title>
    </head>
    <body>
        <h3>Order Details</h3>


        <div class="table table-responsive">
        <table class="table" id="detail_order">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Order Code</th>
                    <th>UserName</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
              
                    
                </tr>
            </thead>
            <tbody>
           
                @foreach (var item in Model)
                {
                    subtotal = item.Quantity * item.Price; 
                    total += subtotal; 
                    <tr>
                        <input type="hidden" asp-for="@item.Ordercode" class="getId" />
                        <td>@item.Id</td>
                        <td>@item.Ordercode</td>
                        <td>@item.UserName</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Price.ToString("#,##0 VNĐ")</td>
                        <td>@item.Quantity</td>
                        <td>@subtotal.ToString("#,##0 VNĐ")</td>

                    </tr>
                }
                <tr>
                    <td colspan="6" class="text-end"><strong>Total:</strong></td>
                    <td><strong>@total.ToString("#,##0 VNĐ")</strong></td>

                    <td>
                        @if (@ViewBag.Status != 3)
                        {
                            <select class="form-control select-update-order">

                                <option value="1">Đơn hàng mới</option>
                                <option value="0">Đơn hàng đã được xử lý</option>


                            </select>
                        }
                    </td>
                
                </tr>
            </tbody>
        </table>
   
        </div>
    @section Scripts {
       
        <script>
            $(document).ready(function () {
                $('.select-update-order').change(function () {
                    var status = $(this).val();
                    var ordercode = $('.getId').val(); 
                   

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdateOrder")",
                        data: { status: status, ordercode: ordercode }, 

                        success: function (result) {
                           
                            if (result.success) {

                                Swal.fire("Cập nhật đơn hàng thành công.");
                            } else {

                                Swal.fire("Cập nhật đơn hàng thất bại." + result.message);

                            }
                        }

                    });
                });
            });
        </script>
    }

    </body>

    </html>
