@model IEnumerable<ProductModel>

<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->

		<h2 class="title text-center">Đồ uống hiện có: </h2>
		@foreach (var item in Model) {
			<div class="col-sm-4">
				<div class="product-image-wrapper">
				
				<div class="single-products">
					
					<div class="productinfo text-center">
						<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
								<img src="~/media/products/@item.Image" alt="@item.Name" width="205px" height="205px" />
								<h2>@item.Price.ToString("#,##0 VNĐ")</h2>
							
							<p>@item.Name</p>
						</a>
						<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>
						
				</div>
					
				<div class="choose">
					<ul class="nav nav-pills nav-justified">
						<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
						<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
					</ul>
				</div>
			</div>
		</div>}	
		
</div>

	@{
		int currentPage = Convert.ToInt32(ViewData["CURENT_PAGE"]);
		int totalPages = Convert.ToInt32(ViewData["TOLTAL_PAGE"]);
		int limit = Convert.ToInt32(ViewData["LIMIT"]);

		string basePath = Url.Action("Index", "Home");
	}

    <div class="d-flex justify-content-center align-items-center my-3">
        <nav>
            <ul class="pagination mb-0">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@($"{basePath}?page={currentPage - 1}&limit={limit}")" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Previous">
                           <i class="fa fa-angle-left"></i>
                        </span>
                    </li>
                }

                <li class="page-item disabled">
                    <span class="page-link">@currentPage of @totalPages</span>
                </li>

                @if (currentPage < totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@($"{basePath}?page={currentPage + 1}&limit={limit}")" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                               
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Next">
                                <i class="fa fa-angle-right"></i>       
                        </span>
                    </li>
                }
            </ul>
        </nav>

  
    </div>

