﻿
@model IEnumerable<ProductModel>

@{
    ViewData["title"] = "List Product";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>List Products</h3>

    <a class="btn btn-primary" asp-action="Create" asp-controller="Product">Add Product</a>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Image</th>
                <th>Product Slug</th>
                <th>Product Category</th>
                <th>Product Brand</th>
                <th>Product Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price.ToString("#,##0 VNĐ")</td>
                    <td> <img src="~/media/products/@item.Image" width="80px" height="80px" /> </td>
                    <td>@item.Slug</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Brand.Name</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Product" asp-route-Id="@item.Id">Edit</a>
                        <form asp-action="Delete" asp-controller="Product" asp-route-Id="@item.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?')">Delete</button>
                        </form>
                    
                </tr>
            }
        </tbody>
    </table>
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="//cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>

        <script>
            $(document).ready(function () {
                new DataTable('#myTable', {
                    layout: {
                        topStart: {
                            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                        }
                    }
                });
            });
        </script>
    }
</body>

</html>